
<div class="site-wrapper overflow-hidden">
  <!-- Header Area -->
  <header class="site-header site-header--menu-left site-header--absolute">
    <div class="container">
      <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0">
        <!-- Brand Logo-->
        <div class="brand-logo"><a href="https://oahero.com">
          <!-- light version logo (logo must be black)-->
          <%#= image_tag "image/OAHero-logo-light.png", alt: "Logo" %>
          <!-- Dark version logo (logo must be White)-->
          <%= image_tag "image/OAHero-logo-dark.png", class: "dark-version-logo" %>
        </a>
        </div>
      </nav>
    </div>
  </header>
  <!-- navbar-dark -->
  <!-- Hero Area -->
  <div class="position-relative bg-default-2 bg-pattern pattern-2 pt-27 pt-lg-32 pb-15 pb-lg-27">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-9 col-md-7 col-lg-5 offset-xl-1 align-self-sm-end order-lg-2">
          <div class="hero-img position-relative" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
            <%= image_tag "image/hero-image.png", class:"w-100"%>
            <div class="gr-abs-tl gr-z-index-n1" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800" data-aos-once="true">
              <%= image_tag "image/l5/png/l5-dot-shape.png" %>
            </div>
          </div>
        </div>
        <div class="col-11 col-md-9 col-lg-7 col-xl-6 order-lg-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
          <div class="hero-content mt-11 mt-lg-0">
            <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Take your sourcing to the next level</h4>
            <h1 class="title gr-text-2 mb-8">Avoid cancellations and maximise your profits.</h1>
            <p class="gr-text-8 mb-11 pr-md-12">OA Hero is your ultimate sourcing companion! It's a chrome extension takes your sourcing to the next level by helping you maximise any deals you find and helps keep you out of trouble. </p>
            <div class="hero-btn">
              <a href="#" class="btn gr-hover-y btn-primary">Sign Up Today</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service section  -->
  <div class="service-section bg-default-4 pt-15 pb-13 py-lg-25 bg-blackish-blue border-bottom border-top border-gray-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
          <div class="section-title text-center mb-11 mb-lg-19 px-lg-3">
            <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Features</h4>
            <h2 class="title gr-text-4">OA Hero Has A Bunch Of Awesome Features</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center position-relative gr-z-index-1 pb-4">
        <div class="col-md-6 col-lg-4 mb-9 mb-lg-0" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div class="service-card rounded-10 gr-hover-shadow-4 d-flex flex-column text-center pt-15 px-9 pb-11 dark-mode-texts h-100" style="border: 1px solid white;">
            <div class="card-img mb-11">
              <%= image_tag "image/database-logo.png"%>
            </div>
            <h3 class="card-title gr-text-6 mb-6">Website Info Database</h3>
            <p class="gr-text-9 mb-11">Access important information on order and quantity limits for each website so you can maximise any deals you find without getting cancelled orders.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-9 mb-lg-0 " data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
          <div class="service-card rounded-10 gr-hover-shadow-4 d-flex flex-column text-center pt-15 px-9 pb-11 dark-mode-texts h-100" style=" border: 1px solid white;">
            <div class="card-img mb-11">
              <%= image_tag "image/qogita-logo.png" %>
            </div>
            <h3 class="card-title gr-text-6 mb-6">Qogita Support</h3>
            <p class="gr-text-9 mb-11">Integrated into Qogita you can avoid buying restricted brands and check the GTIN of a product directly on the page, saving you time and money.</p>
          </div>
        </div>
<!--        <div class="col-md-6 col-lg-4 mb-9 mb-lg-0" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">-->
<!--          <div class="service-card rounded-10 gr-hover-shadow-4 d-flex flex-column text-center pt-15 px-9 pb-11 dark-mode-texts bg-red h-100">-->
<!--            <div class="card-img mb-11">-->
              <%#= image_tag "image/l5/png/l5-service-card3.png" %>
<!--            </div>-->
<!--            <h3 class="card-title gr-text-6 mb-6">More - Coming Soon</h3>-->
<!--            <p class="gr-text-9 mb-11">Many more features on the way. Bare with us as we develop these features and help take your sourcing to the next level</p>-->
<!--            <a href="" class="gr-text-9 btn-link with-icon text-white mt-auto">Learn more <i class="icon icon-tail-right"></i></a>-->
<!--          </div>-->
<!--          <div class="gr-abs-br-custom gr-z-index-n1" data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="800" data-aos-once="true">-->
            <%#= image_tag "image/l5/png/l5-dot-shape2.png" %>
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </div>

  <div class="content-section border-bottom pt-11 pb-7 pt-lg-23 pb-lg-28 bg-default-6 dark-mode-texts border-bottom border-top border-gray-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
          <div class="section-title text-center mb-12 mb-lg-23">
            <h2 class="title gr-text-4 mb-6">Sourcing Website Information Database</h2>
            <p class="gr-text-8 px-lg-7 px-xl-0">With over 600+ sites supported, you get information such as:</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="content-img-group text-center mb-8 mb-lg-0">
            <div class="main-image  w-xs-75 w-lg-85 w-xl-75 mx-auto position-relative gr-z-index-1">
              <%= image_tag "image/sourcing-main.png", class: "rounded-10 w-100", alt: "" %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-widget mt-7 mt-lg-0 pr-lg-13 pl-xl-19">
            <div class="row align-items-center">
              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                <div class="single-widget my-9 media">
                  <div class="media-icon circle-sm bg-blue mr-8">
                    <span class="count text-white gr-text-9">1</span>
                  </div>
                  <div class="media-body">
                    <h3 class="w-title mb-5 gr-text-7">Order and Quantity limits</h3>
                    <p class="gr-text-9 mb-0">Know how far you can push a deal before getting cancelled so you can maximise profits.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                <div class="single-widget my-9 media">
                  <div class="media-icon circle-sm bg-blue mr-8">
                    <span class="count text-white gr-text-9">2</span>
                  </div>
                  <div class="media-body">
                    <h3 class="w-title mb-5 gr-text-7">Ungating Invoice</h3>
                    <p class="gr-text-9 mb-0">Know if the site offers a VAT invoice suitable for ungating, and how to obtain it.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                <div class="single-widget my-9 media">
                  <div class="media-icon circle-sm bg-blue mr-8">
                    <span class="count text-white gr-text-9">3</span>
                  </div>
                  <div class="media-body">
                    <h3 class="w-title mb-5 gr-text-7">Important and Useful Information</h3>
                    <p class="gr-text-9 mb-0">Other useful infromation such as the VAT number and customer service contact information</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section border-bottom pt-11 pb-7 pt-lg-23 pb-lg-28 bg-default-6 dark-mode-texts">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
          <div class="section-title text-center mb-12 mb-lg-23">
            <h2 class="title gr-text-4 mb-6">Qogita Sourcing Information</h2>
            <p class="gr-text-8 px-lg-7 px-xl-0">Take your Qogita sourcing to the next level with features such as:</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="content-img-group text-center mb-8 mb-lg-0">
            <div class="main-image  w-xs-75 w-lg-85 w-xl-75 mx-auto position-relative gr-z-index-1">
              <%= image_tag "image/qogita-main.png", class: "rounded-10 w-100", alt: "" %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-widget mt-7 mt-lg-0 pr-lg-13 pl-xl-19">
            <div class="row align-items-center">
              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                <div class="single-widget my-9 media">
                  <div class="media-icon circle-sm bg-blue mr-8">
                    <span class="count text-white gr-text-9">1</span>
                  </div>
                  <div class="media-body">
                    <h3 class="w-title mb-5 gr-text-7">On Page GTIN Lookup</h3>
                    <p class="gr-text-9 mb-0">Check the GTIN of the product on the page with sites like ean-search.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                <div class="single-widget my-9 media">
                  <div class="media-icon circle-sm bg-blue mr-8">
                    <span class="count text-white gr-text-9">2</span>
                  </div>
                  <div class="media-body">
                    <h3 class="w-title mb-5 gr-text-7">Restricted Brands</h3>
                    <p class="gr-text-9 mb-0">Instant warning if the brand your looking at is on our restricted brand database.</p>
                  </div>
                </div>
              </div>
<!--              <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">-->
<!--                <div class="single-widget my-9 media">-->
<!--                  <div class="media-icon circle-sm bg-blue mr-8">-->
<!--                    <span class="count text-white gr-text-9">3</span>-->
<!--                  </div>-->
<!--                  <div class="media-body">-->
<!--                    <h3 class="w-title mb-5 gr-text-7">Transparency, IP, PL or PI Brands</h3>-->
<!--                    <p class="gr-text-9 mb-0">See if the brand your looking at has know issues such as transparency codes, Intellectual Property, Private Label or Paralel Import claims.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fact-section py-12 pt-lg-20 pb-lg-17 bg-default-1 border-bottom border-top border-gray-3 mb-25">
    <div class="container">
      <div class="row justify-content-center mb-n9">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
          <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
            <h3 class="gr-text-3 mr-9">600+</h3>
            <p class="gr-text-9 mb-0">UK Sites Supported</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
          <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
            <h3 class="gr-text-3 mr-9"><span class="counter">200</span>+</h3>
            <p class="gr-text-9 mb-0">Restricted Brands</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
          <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
            <h3 class="gr-text-3 mr-9"><span class="counter">100%</span></h3>
            <p class="gr-text-9 mb-0">Satisfaction Guranteed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
      <!-- .pricing card -->
      <div class="pricing-card bg-gray-2 gr-hover-shadow-1 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 border rounded-10">
        <div class="price-content light-mode-texts">
          <span class="small-title gr-text-12 text-uppercase text-red font-weight-bold">Yearly</span>
          <div class="d-flex align-items-end justify-content-center mt-9 ">
            <span class="currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none">£</span>
            <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue">
              99
            </h2>
            <span class="per gr-text-9 text-blackish-blue">/year</span>
          </div>
          <ul class="card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto">
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">OA Hero Chrome Extension</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Qogita Support</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">1 Year Access</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Premium Support</li>
          </ul>
        </div>
        <a href="" class="btn btn-black rounded-8 gr-min-width-219">Sign Up Today</a>
      </div>
      <!-- /.pricing carde Ends-->
    </div>
    <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
      <!-- .pricing card -->
      <div class="pricing-card gr-hover-shadow-1 gr-box-shadow-4 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 bg-white rounded-10">
        <div class="price-content light-mode-texts">
          <span class="small-title gr-text-12 text-uppercase text-red font-weight-bold">Lifetime</span>
          <div class="d-flex align-items-end justify-content-center mt-9 ">
            <span class="currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none">£</span>
            <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue">
              199
            </h2>
          </div>
          <ul class="card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto">
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">OA Hero Chrome Extension</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Qogita Support</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Lifetime Access</li>
            <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Premium Support</li>
          </ul>
        </div>
        <a href="" class="btn btn-red rounded-8 w-100 mx-auto">Get Lifetime Access</a>
      </div>
      <!-- /.pricing carde Ends-->
    </div>

  </div>
  <div class="cta-section bg-default-2 ">
    <div class="container">
      <div class="cta-wrapper pt-13 pb-14 py-lg-19 border-top ">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-10">
            <div class="cta-text section-title">
              <h2 class="title gr-text-5 mb-7">Ready to take your sourcing to the next level?</h2>
              <p class="gr-text-8 mb-8 mb-lg-0">Choose a plan from above and sign up today!</p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-2 col-md-10">
            <div class="cta-btn text-lg-right">
              <a href="#" class="btn gr-hover-y btn-primary rounded-8">Sign me up now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial section 2 -->
<!--  <div class="testimonial-section2 position-relative bg-blue dark-mode-texts bg-pattern pattern-4 pt-14 pt-lg-26 pb-14 pb-lg-26 ">-->
<!--    <div class="container">-->
<!--      <div class="row justify-content-center">-->
<!--        <div class="col-md-8 col-lg-7 col-xl-6">-->
<!--          <div class="section-title text-center mb-9">-->
<!--            <h4 class="pre-title gr-text-12 text-green text-uppercase mb-0">Testimonial</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row align-items-center justify-content-around">-->
<!--        <div class="col-lg-7 col-md-9">-->
<!--          <div class="single-testimonial text-center">-->
<!--            <h3 class="review-text gr-text-5 mb-11">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</h3>-->
<!--            <div class="reviewer-img mb-7">-->
              <%#= image_tag "image/l5/jpg/l5-testimonial2.jpg", class:"circle-lg mx-auto"%>
<!--            </div>-->
<!--            <h3 class="username gr-text-9 mb-1">Ian Klein</h3>-->
<!--            <span class="rank gr-text-11 gr-text-color-opacity">Digital Marketer</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- CTA section 2 -->
<!--  <div class="cta-section-2 dark-mode-texts bg-blackish-blue ">-->
<!--    <div class="container">-->
<!--      <div class="cta-wrapper pt-14 pb-14 py-lg-19 border-bottom">-->
<!--        <div class="row align-items-center justify-content-center">-->
<!--          <div class="col-lg-6 col-md-10">-->
<!--            <div class="cta-text section-title">-->
<!--              <h2 class="title gr-text-5 mb-7 text-white">Ready to launch your next project?</h2>-->
<!--              <p class="gr-text-8 gr-color-white-opacity-7 mb-8 mb-lg-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4 offset-lg-2 col-md-10">-->
<!--            <div class="cta-btn text-lg-right">-->
<!--              <a href="#" class="btn btn-primary gr-hover-y">Get started on a project</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



  <!-- Footer section -->
  <div class="footer-section pt-15 pt-lg-25 pb-lg-21 dark-mode-texts bg-blackish-blue border-top border-gray-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="footer-logo mb-11">
            <%= image_tag "image/OAHero-logo-footer.png" %>
          </div>
          <p class="gr-text-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <ul class="social-icons py-7 list-unstyled mb-7 mb-lg-0">
            <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-twitter"></i></a></li>
            <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-facebook"></i></a></li>
            <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-instant-camera-2"></i></a></li>
            <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 offset-lg-1 col-md-8">
          <div class="row">
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11 mb-7">Company</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">About us</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11 mb-7">Product</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Features</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Pricing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11 mb-7">Legal</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Privacy Policy</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Terms &amp; Conditions</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Vendor Scripts -->
<!--<script src="js/vendor.min.js"></script>-->
<!-- Plugin's Scripts -->
<!--<script src="plugins/fancybox/jquery.fancybox.min.js"></script>-->
<!--<script src="plugins/nice-select/jquery.nice-select.min.js"></script>-->
<!--<script src="plugins/aos/aos.min.js"></script>-->
<!--<script src="plugins/slick/slick.min.js"></script>-->
<!--<script src="plugins/date-picker/js/gijgo.min.js"></script>-->
<!--<script src="plugins/counter-up/jquery.waypoints.min.js"></script>-->
<!--<script src="plugins/counter-up/jquery.counterup.min.js"></script>-->
<!--<script src="plugins/theme-mode-switcher/gr-theme-mode-switcher.js"></script>-->
<!-- Activation Script -->
<!--<script src="js/custom.js"></script>-->
