<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "OA Hero" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= tag.link rel: "apple-touch-icon", href: image_path("apple-touch-icon.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "bootstrap", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "elements-adjustment", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "theme-mode-custom", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-theme="dark">
    <%= yield %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </body>
</html>
